.zombie
  .arms
  .body
  .shirt
  .head
    .brain
    .mouth
      ul
        li
        li
        li
        li
        li
        li
        li
  .hands
    ul.left
      li
      li
      li
    ul.right
      li
      li
      li